* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-left: solid 1rem #F46D1B;
  font-family: Oswald;
}

::-webkit-scrollbar{
  background-color: #F46D1B;
  width: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: #262626;
  border-radius: 15px
}
