* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #f46d1b;
  --gray: #262626;
  --green: #34ac40;
  --yellow: #ffe145;
  --red: #ff4545;
  --blue: #16a085;
  --white: #ffffff;
  --black: #000000;
}

html,
body,
#root {
  background-color: var(--white);
  color: var(--black);
  font-family: Oswald;
}

::-webkit-scrollbar {
  background-color: var(--orange);
  width: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 15px;
}
